<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :china %>
    <%= form.text_field :china, id: :score_china %>
  </div>

  <div class="field">
    <%= form.label :math %>
    <%= form.text_field :math, id: :score_math %>
  </div>

  <div class="field">
    <%= form.label :science %>
    <%= form.text_field :science, id: :score_science：float %>
  </div>

  <div class="field">
    <%= form.label :moral %>
    <%= form.text_field :moral, id: :score_moral %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
